.home_container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow: hidden;
    height: calc(100vh - 127px);
    width: 98vw;
}
.users_container{
    margin-top: 10px;
    border-right: 2px solid black;
    overflow-y: auto;
}
.messages_container{
    position: relative;
    width: 100%;
}
.messages_user{
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid black;
    position: relative;
}
.no_conv{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gray;
}
.messages{
    height: calc(100vh - 270px);
    overflow-y: auto;
    border-bottom: 1px solid black;
}
.messages::-webkit-scrollbar {
    width: 10px;
}

.messages::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #356184;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
    color-stop(.5, rgba(255, 255, 255, .25)),
    color-stop(.5, transparent), to(transparent));
}

@media (max-width: 400px) {
    .home_container{
        height: calc(100vh - 160px);
    }
}
